body {
  background-image: url('../images/BG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p { 
    color: black;
    background: white;
    font-size: 50px;
    border: 2px solid magenta;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    
}


li {
    color: white;
   
}


a:hover {
  font-family: sans-serif;

}

a:link {
  color: salmon;
}


a:visited {
  color: lightpink;
}

a:active {
    
    color:forestgreen;
}



div.nav {
    
    position: fixed;
    bottom: 0;
    left: 0;   
    width: 70px;
    border: 3px solid green;
    background-color: black;
    
}















