h1 {
    font-size: 30px;
    color: white;
    background-color: darkorange;
    border: 2px solid orange;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    
    
}


h2 {
    font-size: 30px;
    color: bisque;
    font-weight: 000;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 250px;
    margin-right: 250px;
    
}

h3 {
    font-size: 25px;
    color: white;
    background-color: darkcyan;
    border: 2px solid cyan;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 1240px;
    
}

h1.heading {
    
    font-size: 25px;
    color: white;
   
    
}




h5 {
    font-size: 25px;
    color: white;
    background-color: darkcyan;
    border: 2px solid cyan;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 750px;
}

li {
    color: black;
    display:inline-block;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 25px;
    text-align: center;
}

li.home {
    
    color: white;
}



thead {
    text-align: center;
    font-size: 25px;
    background-color: aquamarine;
    
    
}



tbody {
    text-align: center;
    font-size: 25px;
    background-color: mediumseagreen;
    
    
}



tfoot {
    text-align: center;
    font-size: 25px;
    background-color: mediumpurple;
    
    
}


a:hover {
   font-family: sans-serif;

}

a:link {
  color: black;
}


a:visited {
  color: pink;
}

a:active {
    
    color:yellow;
}




div.nav {
    
    position: fixed;
    bottom: 0;
    left: 0;   
    width: 80px;
    border: 3px solid cyan;
    background-color: darkcyan;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    
}

div.nav2 {
    
    position: fixed; 
    top: 10px; 
    right: 10px;
    width: 570px;
    border: 5px solid grey;
    background-color: azure;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    
    
}

div.home {
  background-color: azure;    
  text-align: center;
  border: 4px solid grey;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-left: 400px;
  margin-right: 550px;
  padding-left: 30px;  
  padding-right: 30px;  

    
}


div.game {
  background-color: azure;    
  text-align: center;
  border: 4px solid grey;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-left: 500px;
  margin-right: 500px;
    
}

div.home2 {
  background-color: azure;    
  text-align: center;
  border: 4px solid grey;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-left: 400px;
  margin-right: 550px;
  padding-left: 30px;  
  padding-right: 30px;  
  float:left;
    
}

div.contact {
  background-color: azure;    
  text-align: center;
  border: 4px solid grey;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-left: 100px;
  margin-right: 1000px;
  padding-left: 30px;  
  padding-right: 30px;  
  float:left;
    
}

div.contact2 {
  background-color: azure;    
  text-align: center;
  border: 4px solid grey;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-left: 1000px;
  margin-right: 100px;
  padding-left: 30px;  
  padding-right: 30px;  
  float:right;
    
}




div.header {
  background-color: azure;    
  text-align: center;
  border: 4px solid grey;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 30px;  
  padding-right: 30px;  
  margin-left: 500px;
  margin-right: 500px;
}

 div.gallo {
  background-color: rosybrown;    
  text-align: center;
  border: 4px solid grey;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 30px;  
  padding-right: 30px;  
  margin-left: 500px;
  margin-right: 500px;
} 

div.info {
  background-color: azure;    
  text-align: center;
  border: 4px solid grey;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 30px;  
  padding-right: 30px;  
  margin-left: 500px;
  margin-right: 500px;
}


body.home {
    background-image: url(../images/me.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    
    
}body.gallery {
    background-image: url(../images/head.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    
}




p.home { 
    color: black;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 15px;
}
 

p.home2 { 
    color: black;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 15px;
    
}p.home3 { 
    color: white;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 15px;
    
}

p.header { 
    color: black;
    font-family: "Arial", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 50px;
    
}


p.info { 
    color: black;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 25px;
    
}


p.contact { 
    color: black;
    font-family: "Arial", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 15px;
    
}

p.contact2 { 
    color: black;
    font-family: "Arial", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 15px;
    
}

p.game { 
    color: black;
    font-family: "Arial", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;

    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 15px;
    
}



    
    